<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Goggles Ecommerce Category Bootstrap responsive Web Template | Checkout :: w3layouts</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Goggles a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link href="/static/assets/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="/static/assets/css/login_overlay.css" rel='stylesheet' type='text/css' />
	<link href="/static/assets/css/style6.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="/static/assets/css/shop.css" type="text/css" />
	<link rel="stylesheet" type="text/css" href="/static/assets/css/checkout.css">
	<link href="/static/assets/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css' />
	<link href="/static/assets/css/style.css" rel='stylesheet' type='text/css' />
	<link href="/static/assets/css/fontawesome-all.css" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
	    rel="stylesheet">
</head>

<body>
	<div class="banner-top container-fluid" id="home">
		<!-- header -->
        {% include 'userheader.html'%}
		<!-- banner -->

		{% if data['item'] %}
		<div class="banner_inner">
			<div class="services-breadcrumb">
				<div class="inner_breadcrumb">

					<ul class="short">
						<li>
							<a href="index.html">Home</a>
							<i>|</i>
						</li>
						<li>Checkout </li>
					</ul>
				</div>
			</div>

		</div>
		<!--//banner -->
	</div>
	<!--// header_top -->
	<!--checkout-->
	<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
		<div class="container">
			<div class="inner-sec-shop px-lg-4 px-3">
				<h3 class="tittle-w3layouts my-lg-4 mt-3">Checkout </h3>
				<div class="checkout-right">
					<!-- <h4>Your cart contains:
						<span>3 art pieces</span>
					</h4>
					 -->
					<table class="timetable_sub" >
						<thead>
							<tr>
								<th>SL No.</th>
								<th>Art</th>
								<!-- <th>Quantity</th> -->
								<th>Art Name</th>

								<th>Price</th>
								<th>Remove</th>
							</tr>
						</thead>
						<tbody>
							{%for row in data['item']%}
							<tr class="rem1">
								<td class="invert">{{loop.index}}</td>
								<td><img style="height:200px;width:200px;object-fit:cover" src="/{{row['item_image']}}" alt=""></td>
								<td>{{row['item_name']}}</td>
								<td>{{row['finalcost']}}</td>
								<input type="hidden" value="{{row['item_approval']}}" name="" id="stat{{ loop.index }}">
								{% if row['item_approval']=="paid"%}
                                    <td ><span id="spansec" style="color: red;">Please remove the item</span></td>
                                {% endif %}
                                <!--<img src="/static/assets/images/s1.jpg" alt=" " class="img-responsive"> -->
							</td>
								<!-- <td class="invert">
									<div class="quantity">
										<div class="quantity-select">
											<div class="entry value-minus">&nbsp;</div>
											<div class="entry value">
												<span>1</span>
											</div>
											<div class="entry value-plus active">&nbsp;</div>
										</div>
									</div>
								</td> -->
								<!-- <td class="invert">Irayz Butterfly </td>

								<td class="invert">$281.00</td> -->
								<td class="invert">
									<div class="rem">
									<a href="?action=delete&id={{row['item_id']}}&cmid={{row['cm_id']}}&ccid={{row['cc_id']}}"><center class="close1"></center> </div></a>
									</div>

								</td>
							</tr>
							<!-- <tr class="rem2">
								<td class="invert">2</td>
								<td class="invert-image">
									<a href="single.html">
										<img src="/static/assets/images/s5.jpg" alt=" " class="img-responsive">
									</a>
								</td> -->
								<!-- <td class="invert">
									<div class="quantity">
										<div class="quantity-select">
											<div class="entry value-minus">&nbsp;</div>
											<div class="entry value">
												<span>1</span>
											</div>
											<div class="entry value-plus active">&nbsp;</div>
										</div>
									</div>
								</td> -->
								<!-- <td class="invert">Fastrack Aviator </td>

								<td class="invert">$325.00</td>
								<td class="invert">
									<div class="rem">
										<div class="close2"> </div>
									</div>

								</td> -->
							<!-- </tr>
							<tr class="rem3">
								<td class="invert">3</td>
								<td class="invert-image">
									<a href="single.html">
										<img src="/static/assets/images/s2.jpg" alt=" " class="img-responsive">
									</a>
								</td> -->
								
								<!-- <td class="invert">
									<div class="quantity">
										<div class="quantity-select">
											<div class="entry value-minus">&nbsp;</div>
											<div class="entry value">
												<span>1</span>
											</div>
											<div class="entry value-plus active">&nbsp;</div>
										</div>
									</div>
								</td> -->
								<!-- <td class="invert">Opium (Grey)</td>

								<td class="invert">$325.00</td>
								<td class="invert">
									<div class="rem">
										<div class="close3"> </div>
									</div>

								</td>
							</tr> -->

						</tbody>
						{%endfor%}
					</table>
			
				</div>
				<div class="checkout-left row">
					<div class="col-md-4 checkout-left-basket">
						<!-- <h4 a href="gallery"> Continue Exploring </a></h4> -->
						<ul>
							<!-- <li>Product1
								<i>-</i>
								<span>$281.00 </span>
							</li>
							<li>Product2
								<i>-</i>
								<span>$325.00 </span>
							</li>
							<li>Product3
								<i>-</i>
								<span>$325.00 </span>
							</li> -->
							<!-- <li>Total Service Charges
								<i>-</i>
								<span>$55.00</span>
							</li> -->
							<li>Total
								<i>-</i>
								<span>{{data['item'][0]['c_tot_amount']}}</span>
							</li>
						</ul>
					</div>
					
										
						<div id="mainbtn" class="checkout-right-basket">
							<a href="payment?cm_id={{ data['item'][0]['cm_id'] }}">Make a Payment </a>
						</div>
						<span id="spansec" style="color: red;">Item in your basket is sold out!</span>
					</div>

					<div class="clearfix"> </div>

				</div>

			</div>

		</div>
	</section>
	<!--//checkout-->
		<!--footer -->
		<footer class="py-lg-5 py-3">
			<div class="container-fluid px-lg-5 px-3">
				<div class="row footer-top-w3layouts">
					<div class="col-lg-3 footer-grid-w3ls">
						<div class="footer-title">
							<h3>About Us</h3>
						</div>
						<div class="footer-text">
							<p>At Galleria we bring you the best platform for world class art ethusiast.Explore the mesmerising collection of art works from renowned Artist.LOVE ART? Galleria is your paradise</p>
							<ul class="footer-social text-left mt-lg-4 mt-3">
	
								<li class="mx-2">
									<a href="#">
										<span class="fab fa-facebook-f"></span>
									</a>
								</li>
								<li class="mx-2">
									<a href="#">
										<span class="fab fa-twitter"></span>
									</a>
								</li>
								<li class="mx-2">
									<a href="#">
										<span class="fab fa-google-plus-g"></span>
									</a>
								</li>
								<li class="mx-2">
									<a href="#">
										<span class="fab fa-linkedin-in"></span>
									</a>
								</li>
								<li class="mx-2">
									<a href="#">
										<span class="fas fa-rss"></span>
									</a>
								</li>
								<li class="mx-2">
									<a href="#">
										<span class="fab fa-vk"></span>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 footer-grid-w3ls">
						<div class="footer-title">
							<h3>Get in touch</h3>
						</div>
						<div class="contact-info">
							<h4>Location :</h4>
							<p>0926k 4th block building, king Avenue, New York City.</p>
							<div class="phone">
								<h4>Contact :</h4>
								<p>Phone : +121 098 8907 9987</p>
								<p>Email :
									<a href="mailto:info@example.com">info@example.com</a>
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 footer-grid-w3ls">
						<div class="footer-title">
							<h3>Quick Links</h3>
						</div>
						<ul class="links">
							<li>
								<a href="/">Home</a>
							</li>
							<li>
								<a href="about.html">About</a>
							</li>
						<!-- 	<li>
								<a href="404.html">Error</a>
							</li>
							<li>
								<a href="shop.html">Shop</a>
							</li> -->
							<li>
								<a href="contact.html">Contact Us</a>
							</li>
						</ul>
					</div>
					<!-- <div class="col-lg-3 footer-grid-w3ls">
						<div class="footer-title">
							<h3>Sign up for your offers</h3>
						</div>
						<div class="footer-text">
							<p>By subscribing to our mailing list you will always get latest news and updates from us.</p>
							<form action="#" method="post">
								<input class="form-control" type="email" name="Email" placeholder="Enter your email..." required="">
								<button class="btn1">
									<i class="far fa-envelope" aria-hidden="true"></i>
								</button>
								<div class="clearfix"> </div>
							</form>
						</div>
					</div>
				</div> -->
				<!-- <div class="copyright-w3layouts mt-4">
					<p class="copy-right text-center ">&copy; 2018 G	. All Rights Reserved | Design by
						<a href="http://w3layouts.com/"> W3layouts </a>
					</p>
				</div> -->
			</div>
		</footer>
		<!-- //footer -->

		{% else %}	

		<center>
			<span>No Items in Cart!</span>
		</center>
		

		{% endif %}

		{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<script>alert("{{ message }}")</script>
		{% endfor %}
	{% endif %}
{% endwith %}
	
		<!--jQuery-->
		<script src="/static/assets/js/jquery-2.2.3.min.js"></script>
		<!-- newsletter modal -->
		<!-- Modal -->
		<!-- Modal -->
	
		<script>
			$(document).ready(function () {
				$("#myModal").modal();
			});
		</script>
		<!-- // modal -->
	
		<!--search jQuery-->
		<script src="/static/assets/js/modernizr-2.6.2.min.js"></script>
		<script src="/static/assets/js/classie-search.js"></script>
		<script src="/static/assets/js/demo1-search.js"></script>
		<!--//search jQuery-->
		<!-- cart-js -->
		<script src="/static/assets/js/minicart.js"></script>
		<script>
			googles.render();
	
			googles.cart.on('googles_checkout', function (evt) {
				var items, len, i;
	
				if (this.subtotal() > 0) {
					items = this.items();
	
					for (i = 0, len = items.length; i < len; i++) {}
				}
			});
		</script>
		<!-- //cart-js -->
		<script>
			$(document).ready(function () {
				$(".button-log a").click(function () {
					$(".overlay-login").fadeToggle(200);
					$(this).toggleClass('btn-open').toggleClass('btn-close');
				});
			});
			$('.overlay-close1').on('click', function () {
				$(".overlay-login").fadeToggle(200);
				$(".button-log a").toggleClass('btn-open').toggleClass('btn-close');
				open = false;
			});
		</script>
		<!-- carousel -->
		<!-- Count-down -->
		<script src="/static/assets/js/simplyCountdown.js"></script>
		<link href="/static/assets/css/simplyCountdown.css" rel='stylesheet' type='text/css' />
		<script>
			var d = new Date();
			simplyCountdown('simply-countdown-custom', {
				year: d.getFullYear(),
				month: d.getMonth() + 2,
				day: 25
			});
		</script>
		<!--// Count-down -->
		<script src="/static/assets/js/owl.carousel.js"></script>
		<script>
			$(document).ready(function () {
				$('.owl-carousel').owlCarousel({
					loop: true,
					margin: 10,
					responsiveClass: true,
					responsive: {
						0: {
							items: 1,
							nav: true
						},
						600: {
							items: 2,
							nav: false
						},
						900: {
							items: 3,
							nav: false
						},
						1000: {
							items: 4,
							nav: true,
							loop: false,
							margin: 20
						}
					}
				})
			})
		</script>
	
		<!-- //end-smooth-scrolling -->
	
	
		<!-- dropdown nav -->
		<script>
			$(document).ready(function () {
				$(".dropdown").hover(
					function () {
						$('.dropdown-menu', this).stop(true, true).slideDown("fast");
						$(this).toggleClass('open');
					},
					function () {
						$('.dropdown-menu', this).stop(true, true).slideUp("fast");
						$(this).toggleClass('open');
					}
				);
			});
		</script>
		<!-- //dropdown nav -->
	  <script src="/static/assets/js/move-top.js"></script>
		<script src="/static/assets/js/easing.js"></script>
		<script>
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event) {
					event.preventDefault();
					$('html,body').animate({
						scrollTop: $(this.hash).offset().top
					}, 900);
				});
			});
		</script>
		<script>
			$(document).ready(function() {
				/*
										var defaults = {
											  containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
										 };
										*/
	
				$().UItoTop({
					easingType: 'easeOutQuart'
				});
	
			});
		</script>
		<!--// end-smoth-scrolling -->
	
		<script src="/static/assets/js/bootstrap.js"></script>
		<!-- js file -->
	</body>
	
	</html>
	<!-- //footer -->
	<!--jQuery-->
	<script src="/static/assets/js/jquery-2.2.3.min.js"></script>
	<!-- newsletter modal -->
	<!--search jQuery-->
	<script src="/static/assets/js/modernizr-2.6.2.min.js"></script>
	<script src="/static/assets/js/classie-search.js"></script>
	<script src="/static/assets/js/demo1-search.js"></script>
	<!--//search jQuery-->
	<!-- cart-js -->
	<script src="/static/assets/js/minicart.js"></script>
	<script>
		googles.render();

		googles.cart.on('googles_checkout', function (evt) {
			var items, len, i;

			if (this.subtotal() > 0) {
				items = this.items();

				for (i = 0, len = items.length; i < len; i++) {}
			}
		});
	</script>
	<!-- //cart-js -->
	<script>
		$(document).ready(function () {
			$(".button-log a").click(function () {
				$(".overlay-login").fadeToggle(200);
				$(this).toggleClass('btn-open').toggleClass('btn-close');
			});
		});
		$('.overlay-close1').on('click', function () {
			$(".overlay-login").fadeToggle(200);
			$(".button-log a").toggleClass('btn-open').toggleClass('btn-close');
			open = false;
		});
	</script>
	<!-- carousel -->
	<!-- easy-responsive-tabs -->
	<script src="/static/assets/js/easy-responsive-tabs.js"></script>
	<script>
		$(document).ready(function () {
			$('#horizontalTab').easyResponsiveTabs({
				type: 'default', //Types: default, vertical, accordion           
				width: 'auto', //auto or any width like 600px
				fit: true, // 100% fit in a container
				closed: 'accordion', // Start closed if in accordion view
				activate: function (event) { // Callback function if tab is switched
					var $tab = $(this);
					var $info = $('#tabInfo');
					var $name = $('span', $info);
					$name.text($tab.text());
					$info.show();
				}
			});
			$('#verticalTab').easyResponsiveTabs({
				type: 'vertical',
				width: 'auto',
				fit: true
			});
		});
	</script>
	<!--quantity-->
	<script>
		$('.value-plus').on('click', function () {
			var divUpd = $(this).parent().find('.value'),
				newVal = parseInt(divUpd.text(), 10) + 1;
			divUpd.text(newVal);
		});

		$('.value-minus').on('click', function () {
			var divUpd = $(this).parent().find('.value'),
				newVal = parseInt(divUpd.text(), 10) - 1;
			if (newVal >= 1) divUpd.text(newVal);
		});
	</script>
	<!--quantity-->
	<!--close-->
	<script>
		$(document).ready(function (c) {
			$('.close1').on('click', function (c) {
				$('.rem1').fadeOut('slow', function (c) {
					$('.rem1').remove();
				});
			});
		});
	</script>
	<script>
		$(document).ready(function (c) {
			$('.close2').on('click', function (c) {
				$('.rem2').fadeOut('slow', function (c) {
					$('.rem2').remove();
				});
			});
		});
	</script>
	<script>
		$(document).ready(function (c) {
			$('.close3').on('click', function (c) {
				$('.rem3').fadeOut('slow', function (c) {
					$('.rem3').remove();
				});
			});
		});
	</script>
	<!--//close-->

	<!-- dropdown nav -->
	<script>
		$(document).ready(function () {
			$(".dropdown").hover(
				function () {
					$('.dropdown-menu', this).stop(true, true).slideDown("fast");
					$(this).toggleClass('open');
				},
				function () {
					$('.dropdown-menu', this).stop(true, true).slideUp("fast");
					$(this).toggleClass('open');
				}
			);
		});
	</script>
	<!-- //dropdown nav -->
	<script src="/static/assets/js/move-top.js"></script>
    <script src="/static/assets/js/easing.js"></script>
    <script>
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            /*
            						var defaults = {
            							  containerID: 'toTop', // fading element id
            							containerHoverID: 'toTopHover', // fading element hover id
            							scrollSpeed: 1200,
            							easingType: 'linear' 
            						 };
            						*/

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!--// end-smoth-scrolling -->

	

		

<input type="hidden" value="{{ data['len'] }}" id="count" name="">
<script type="text/javascript">

var count = document.getElementById("count").value
console.log(count)
var test = 0;

for (i=1; i<=count; i++){

	var stat = document.getElementById("stat"+i).value
	console.log(stat)
	
	if ( stat == 'paid' ){
			console.log("out of stock")
			test = 1;	
		}else{
			console.log("in stock")	

			}
					}

	if(test == 1){
		document.getElementById("mainbtn").style.display="none"
		document.getElementById("spansec").style.display="block"
	}else{
		document.getElementById("mainbtn").style.display="block"
		document.getElementById("spansec").style.display="none"
	}
</script>




	<script src="/static/assets/js/bootstrap.js"></script>
	<!-- js file -->
</body>

</html>
