{% include 'userheader.html' %}
<center>
<h1 style="margin-top:150px;padding-bottom:10px">MY PROFILE</h1>
<!-- <div style="display: flex;justify-content: flex-end;align-items: center;padding: 10px 350px 10px 0px; font-weight: 800;">
    <a href="/
	custbank">Add Bank Details</a>
</div> -->
<form method="post" id="form-reg">
    {% if data['a'] %}
	<table class="table" cellpadding="10" style="width:600px;">
		<tr>
			<th style="color:#ffc845">First Name</th>
			<td><input type="text" required="" value="{{data['a'][0]['u_fname']}}" class="form-control" name="u_fname"></td>
		</tr>
		<tr>
			<th style="color:#ffc845">Last Name</th>
			<td><input type="text" required="" value="{{data['a'][0]['u_lname']}}" class="form-control" name="u_lname"></td>
		</tr>
		<tr>
			<th style="color:#ffc845">House</th>
			<td><input type="text" required="" value="{{data['a'][0]['u_hname']}}" class="form-control" name="u_hname"></td>
		</tr>
		<tr>
			<th style="color:#ffc845">Street</th>
			<td><input type="text" required="" value="{{data['a'][0]['u_street']}}" class="form-control" name="u_street"></td>
		</tr>
		<tr>
			<th style="color:#ffc845">District</th>
			<td><input type="text" required="" value="{{data['a'][0]['u_district']}}" class="form-control" name="u_district"></td>
		</tr>
		
		<tr>
			<th style="color:#ffc845">Pincode</th>
			<td><input type="text" required="" value="{{data['a'][0]['u_pin']}}" pattern="[0-9]{6}" class="form-control" name="u_pin"></td>
		</tr>
		<tr>
			<th style="color:#ffc845">Phone</th>

			<td><input type="text" required="" value="{{data['a'][0]['u_phone']}}" pattern="[0-9]{10}" class="form-control" name="u_phone"></td>
		</tr>
		<tr>
			<th style="color:#ffc845">Gender</th>
			<td style="color:#ffc845">
			<!-- <input type="radio" required=""  class="btn-get-started" name="gen" value="female">Female
			<input type="radio" required="" class="custom-control-input" name="gen" value="male">Male
			<input type="radio" required=""  class="form-check-input" name="gen" value="other">Others -->

			<select class="form-control" required="" value="{{data['a'][0]['u_gender']}}" name="u_gender">
				<option value="male">male</option>
				<option value="female">female</option>
			</select>
		</td>
		</tr>
		<tr>
			<th style="color:#ffc845">Date of Birth</th>

			<td><input type="date" required="" value="{{data['a'][0]['u_dob']}}" class="form-control" name="u_dob"></td>
		</tr>
		<!-- <tr>
			<th style="color:#ffc845">User Name</th>
			<td><input type="email" required="" value="{{data['a'][0]['username']}}"  class="form-control"  name="username"></td>
		</tr>
		<tr>
			<th style="color:#ffc845">Password</th>
			<td><input type="password" required="" value="{{data['a'][0]['password']}}" class="form-control" name="password"></td>
		</tr> -->
		<td align="center" colspan="2"><input type="submit" name="register" value="Update" class="btn btn-warning"></td>
	</table>
    {% endif %}
</form>


</center>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(function() {
        $("input[name='Cust_fname']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
        $("input[name='Cust_lname']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
        // $("input[name='dob']").on('input', function(e) {
        //     $(this).val($(this).val().replace(/[^0-9/]/g, ''));

        // });
		$("input[name='Cust_city']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
        $("input[name='Cust_dist']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
		$("input[name='Cust_state']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
        
        $("input[name='Cust_mob']").on('input', function(e) {
        	$(this).val($(this).val().replace(/[^0-9]/g, ''));
            
        });
        // $("input[name='Cust_DOB']").on('input', function(e) {
        // 	$(this).val($(this).val().replace(/[^0-9]/g, ''));
            
        // });
        $("input[name='username']").on('input', function(e) {
              var re = /([A-Z0-9a-z_-][^@])+?@[^$#<>?]+?\.[\w]{1,}/.test(this.value);
           
                if(!re) {
                    $('#eerror').show();
                    $('#btn').prop('disabled', true);
                    console.log("err");
                } else {
                    $('#btn').prop('disabled', false);
                    $('#eerror').hide();
                    console.log("err");
                }

        });
        // $("input[name='address']").on('input', function(e) {
        //     $(this).val($(this).val().replace(/[^A-Za-z0-9()/. ]/g, ''));

        // });
        // $("input[name='place']").on('input', function(e) {
        //     $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        // });
            
        // $("input[name='passw']").on('input', function(e) {
        // 	// $(this).val($(this).val().replace(/[^0-9A-Za-z@/. ]/g, ''));
        //     var val = /^(?=.[a-z])(?=.[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/.test(this.value);
        //         if(!val) {
        //             $('#eerror2').show();
        //             $('#btn').prop('disabled', true);
        //             console.log("err");
        //         } else {
        //             $('#btn').prop('disabled', false);
        //             $('#eerror2').hide();
        //             console.log("err");
        //         }
            
        // });
    });


</script>

<center>

<style type="text/css">
	#form-reg{
		background: url('/static/assets/images/banner-mid.jpg');
		padding:1rem .4rem;
		background-size: cover;
	}

	#reg{
		background: rgba(0,0,0,.3);
		width: 60%;
		border-radius:6px;
		color: #fff !important;

	}
	.form-control{
		/*background: red !important;*/
		width: 100%
	}
	.rd{
		display: flex

	}
</style>

</script>
