	<!--
		Author: W3layouts
		Author URL: http://w3layouts.com
		License: Creative Commons Attribution 3.0 Unported
		License URL: http://creativecommons.org/licenses/by/3.0/
	-->

	<!DOCTYPE html>
	<html lang="zxx">

	<head>
		<title>Art Gallery | Home </title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<meta name="keywords" content="Galleria a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
		<script>
			addEventListener("load", function () {
				setTimeout(hideURLbar, 0);
			}, false);

			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>
		<link href="/static/assets/css/bootstrap.css" rel='stylesheet' type='text/css' />
		<link href="/static/assets/css/login_overlay.css" rel='stylesheet' type='text/css' />
		<link href="/static/assets/css/style6.css" rel='stylesheet' type='text/css' />
		<link rel="stylesheet" href="/static/assets/css/shop.css" type="text/css" />
		<link rel="stylesheet" href="/static/assets/css/owl.carousel.css" type="text/css" media="all">
		<link rel="stylesheet" href="/static/assets/css/owl.theme.css" type="text/css" media="all">
		<link href="/static/assets/css/style.css" rel='stylesheet' type='text/css' />
		<link href="/static/assets/css/fontawesome-all.css" rel="stylesheet">
		<link href="//fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
		<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
		    rel="stylesheet">
	</head>

	<body>
		<div class="banner-top container-fluid" id="home">
			<!-- header -->
			<header>
				<div class="row">
					<div class="col-md-3 top-info text-left mt-lg-4">
						<h6>Need Help</h6>
						<ul>
							<li>
								<i class="fas fa-phone"></i> Call</li>
							<li class="number-phone mt-3">9633192397</li>
						</ul>
					</div>
					<div style="display: flex;justify-content: center;align-items: center;position: relative;" class="col-md-6 logo-w3layouts text-center">
						<h1 class="logo-w3layouts">
							<a class="navbar-brand" href="index.html">
								Galleria </a>
						</h1>
	
						<a style="position: relative;right: -100px;" class="btn btn-danger" href="/">Logout</a>
					</div>


					<div class="col-md-3 top-info-cart text-right mt-lg-4">
						<ul class="cart-inner-info">
							<!-- <li class="button-log">
								<a class="btn-open" href="#">
									<span class="fa fa-user" aria-hidden="true"></span>
								</a>
							</li> -->
							<li class="galssescart galssescart2 cart cart box_1">
								<form action="#" method="post" class="last">
									<input type="hidden" name="cmd" value="_cart">
									<input type="hidden" name="display" value="1">
									<button class="top_googles_cart" type="submit" name="submit" value="">
									<a href="cart">My cart</a>
										<i class="fas fa-cart-arrow-down"></i>
									</button>
								</form>
							</li>
						</ul>
						<!---->
						
						<!---->
					</div>
				</div>
				<div class="search">
					<div class="mobile-nav-button">
						<button id="trigger-overlay" type="button">
							<!-- <i class="fas fa-search"></i> -->
						</button>
					</div>
					<!-- open/close -->
					<div  class="overlay overlay-door">
						<button type="button" class="overlay-close">
							<i class="fa fa-times" aria-hidden="true"></i>
						</button>
						<form action="#" method="post" class="d-flex">
							<input class="form-control" type="search" placeholder="Search here..." required="">
							<button type="submit" class="btn btn-primary submit">
								<i class="fas fa-search"></i>
							</button>
						</form>

					</div>
					<!-- open/close -->
				</div>
				<label class="top-log mx-auto"></label>
				<nav class="navbar navbar-expand-lg navbar-light bg-light top-header mb-2">

					<button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					    aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon">
							
						</span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav nav-mega mx-auto">
							<li class="nav-item active">	
								<a class="nav-link ml-lg-0" href="userhome">Home
									<span class="sr-only">(current)</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="about">About</a>
							</li>
                            <li class="nav-item">
								<a class="nav-link" href="additem">Submit Art</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="gallery">Gallery</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="user_orders">Orders</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="cus_exb">View Exhibition</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="profile">Profile</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="artist_sales">Sales</a>
							</li>
							
							<!-- <li class="nav-item">
								<a class="nav-link" href="contact">Contact</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="Exhibition">Exhibition</a>
							</li> -->
						</ul>

					</div>
				</nav>
			</header>
			<!-- //header -->